################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CSharp/.vs/hackerrank/FileContentIndex
/CSharp/.vs/hackerrank/v17
/CSharp/hackerrank/obj/
/CSharp/hackerrank/bin/
*.json
/CSharp/.vs/
